/* DailyWorkList 컴포넌트 스타일 */
.button-row {
  margin-bottom: 12px;
}
.dailywork-todo {
  text-decoration: line-through;
}
.dailywork-listitem {
  display: flex;
  align-items: center;
}
.dailywork-checkbox {
  margin-right: 8px;
}
.dailywork-span {
  flex: 1;
}
