
.agreeText-container{
   width: 450px;         /* 가로 길이 */
  height: 580px;        /* 세로 길이 */
  background-color: white; /* 배경색 */
  border: 2px solid #333;     /* 테두리 */
  border-radius: 8px;         /* 둥근 정도 (0이면 완전 네모) */
  padding: 60px 20px;        /* 안쪽 여백 */
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1); /* 그림자 효과 */
  margin: 20px auto;    /* 가운데 정렬용 */
  padding: 40px;
  max-width: 600px;
  text-align: center;    
}

.agree-button{
   margin-top: 40px;               /* ⬅ 위에 글자와 간격 */
    display: inline-block;
 padding: 12px 24px;
  background: linear-gradient(90deg, #5a50f0, #9c78f6);
  color: white;
  font-weight: bold;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.agreeText-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #5a50f0, #9c78f6);
  min-height: 100vh;
  padding: 60px 20px;
  box-sizing: border-box;
}
