.main-container1{
   width: 450px;         /* 가로 길이 */
  height: 900px;        /* 세로 길이 */
  background-color: white; /* 배경색 */
  
  border-radius: 8px;         /* 둥근 정도 (0이면 완전 네모) */
  padding: 20px;        /* 안쪽 여백 */
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1); /* 그림자 효과 */
  margin: 20px auto;    /* 가운데 정렬용 */
    
}

.button-move {
  display: block;                /* block으로 만들어야 margin auto 적용됨 */
  margin: 20px auto;             /* 수직 여백 + 수평 가운데 정렬 */
  padding: 12px 24px;            /* 안쪽 여백 (세로, 가로) */
  background-color: #4CAF50;     /* 버튼 배경색 */
  color: white;                  /* 글씨 색 */
  font-size: 16px;               /* 글씨 크기 */
  border: none;                  /* 테두리 제거 */
  border-radius: 12px;           /* 둥근 정도 (크게 하면 캡슐형도 가능) */
  cursor: pointer;               /* 마우스 오버 시 손가락 모양 */
  transition: background-color 0.3s ease; /* 부드러운 호버 효과 */
}

.input-label{
    display: block;                /* block으로 만들어야 margin auto 적용됨 */
  margin: 20px auto;             /* 수직 여백 + 수평 가운데 정렬 */
  padding: 12px 24px;            /* 안쪽 여백 (세로, 가로) */
  background-color: #f3f4f6;     /* 버튼 배경색 */
  
  color: black;                  /* 글씨 색 */
  font-size: 16px;               /* 글씨 크기 */
  border: none;                  /* 테두리 제거 */
  border-radius: 12px;           /* 둥근 정도 (크게 하면 캡슐형도 가능) */
  cursor: pointer;               /* 마우스 오버 시 손가락 모양 */
  transition: background-color 0.3s ease; /* 부드러운 호버 효과 */
}

.checkbox {
  display: flex;
  align-items: center;  
  cursor: pointer;
  
}

.checkbox input[type="checkbox"] {

  width: 18px;
  height: 18px;
  background-color: #f3f4f6;
margin: 10px;
}

.main-title {
  text-align: center;   /* 텍스트 중앙 정렬 */
  margin-bottom: 20px;  /* 제목 아래 공간 */
    font-size: 36px; /* 원하는 크기로 조절 */
  font-weight: bold; /* 글씨를 굵게 하고 싶을 때 */
}

.sub-title {
  background-color: #f3f4f6;
  display: block;                /* block으로 만들어야 margin auto 적용됨 */
  margin: 20px auto;             /* 수직 여백 + 수평 가운데 정렬 */
  padding: 12px 24px;            /* 안쪽 여백 (세로, 가로) */
  background-color: #f3f4f6;     /* 버튼 배경색 */
  color: black;                  /* 글씨 색 */
  font-size: 16px;               /* 글씨 크기 */
  border-radius: 12px;           /* 둥근 정도 (크게 하면 캡슐형도 가능) */
  cursor: pointer;               /* 마우스 오버 시 손가락 모양 */
  transition: background-color 0.3s ease; /* 부드러운 호버 효과 */
}

