/* --- 전체 레이아웃 --- */
.content-wrap {
    background-color: white; 
    border-radius: 12px;    
    border: 1px solid #e9eef5;        
    margin-top: -24px;    /* 부모의 pt-6 (24px) 만큼 당기기 */
    margin-bottom: -12px; /* 부모의 pb-3 (12px) 만큼 당기기 */    
    width: calc(100%);  
    height: calc(100% + 36px);
    padding: 32px;   
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px; /* 카드 사이의 간격 */   
}

.button-row {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    justify-content: center;
}

.content-title {
    font-size: 26px; 
    font-weight: 700; 
}

.content-tabs {
    display: flex;
    align-items: baseline;
    gap: 12px;
}

.tab-button {
    border: 1px solid #f0f0f0; /* 연한 회색 선 */
    border-radius: 12px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    background-color: #f9f9f9;
    color: #555;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tab-button.active {
    background-color: #3b48ff;
    color: white;
    border-color: #3b48ff;
}

.tab-button:hover {
    background-color: #e0e7ff;
    color: #3b48ff;
}

/* --- 필터 및 액션 카드 --- */
.filter-card {
    border: 1px solid #f0f0f0; /* 연한 회색 선 */
    border-radius: 12px;
    padding: 12px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-controls {
    display: flex;
    align-items: center;
    gap: 24px; /* 각 필터 요소 사이의 간격 */
}

/* 검색창 스타일 */
.search-box { position: relative; }
.search-box > .material-symbols-outlined {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 16px;
}
.search-box > input {    
    padding-left: 40px; /* 왼쪽 아이콘 공간만 유지 */
    height: 32px; /* 기준 높이로 설정 */
    box-sizing: border-box; /* 패딩, 테두리를 높이에 포함 */
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    width: 250px;
    font-size: 14px;
}
