<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.meeting.model.dao.MeetingDao">

  <!-- resultMap 추가 -->
    <resultMap id="meetingMap" type="kr.or.iei.meeting.model.dto.Meeting">
        <result property="meetingNo" column="MEETING_NO"/>
        <result property="memberNo" column="MEMBER_NO"/>
        <result property="meetTitle" column="MEET_TITLE"/>
        <result property="meetContent" column="MEET_CONTENT"/>
        <result property="meetDate" column="MEET_DATE"/>
        <result property="gptSummary" column="GPT_SUMMARY"/>
    </resultMap>
    <!-- 회의록 등록 -->
    <insert id="insertMeeting" parameterType="kr.or.iei.meeting.model.dto.Meeting">
        insert into tbl_meeting (
            meeting_no,
            member_no,
            meet_title,
            meet_content,
            meet_date,
            gpt_summary
        ) values (
            SEQ_TBL_MEETING_NO.NEXTVAL,
            #{memberNo},
            #{meetTitle},
            #{meetContent},
            #{meetDate},
            #{gptSummary}
        )
    </insert>

    <!-- 회의록 수정 -->
    <update id="updateMeeting" parameterType="Meeting">
      update tbl_meeting
    	set meet_content = #{meetContent}
    	where meeting_no = #{meetingNo}
    </update>

    <!-- 회의록 삭제 -->
    <delete id="deleteMeeting" parameterType="String">
        delete from tbl_meeting where meeting_no = #{meetingNo}
    </delete>

  
    <!-- 회의록 전체 조회 -->
    <select id="selectAllMeetings" resultMap="meetingMap">
        select * from tbl_meeting order by meeting_no desc
</select>

</mapper>
